<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
  <title>NightClubHitter</title>
  </head>
  <body>
    <h1><center>Night Club Hitter</center></h1>
    <section>
	<form action="Result.php" method="post">
	<p>ゲストを取りたいクラブを選択してください</p>
	<select name = "club">
      	    <option value="atom">渋谷 atom Tokyo</option>
      	    <option value="camelot">渋谷 camelot</option>
      	    <option value="Vision">渋谷 Vision</option>
      	    <option value="harlem">渋谷 Harlem</option>
      	    <option value="esprit">六本木 EspritTokyo</option>
	    <option value="six">六本木 SIX TOKYO</option>
      	    <option value="magnet">六本木 Magnet</option>
	    <option value="dia">六本木 Dia Tokyo</option>
	    <input type="submit" value="検索">
      	</form>
    </section>
    <input type="button" onclick="location.href='Form'"value="検索する">
    </section>
  </body>
</html>
